* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: "Noto Sans", sans-serif;
    color: darkslategray;
    padding: 0;
}

a {
    color: hsl(16, 100%, 38%);
    font-weight: bold;
}

a:hover {
    color: hsl(16, 100%, 50%);
}

a:active {
    color: hsl(16, 100%, 62%);
}

#title {
    width: 100%;
    height: 80px;
    margin: auto;
}

#title-text {
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.5));
    font-size: 45pt;
    font-weight: bold;
}

#subtitle {
    margin-top: -5px;
    text-align: center;
    color: darkslategray;
    font-style: italic;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 85%;
}

.thumbnail, .thumbnail-pale {
    border-radius: 4px;
    transition: 0.2s;
}

.thumbnail:hover {
    filter: contrast(0.8) brightness(1.2);
}

.thumbnail-pale:hover {
    filter: contrast(0.6) brightness(1.2);
}

.card {
    flex: 1;
    border-radius: 4px;
    padding: 1em;
    margin: 1.5em;
    min-width: 300px;
}

.card1 {
    background-color: hsl(170, 66%, 85%);
}

.card2 {
    background-color: hsl(127.5, 66%, 85%);
}

.card3 {
    background-color: #ddf2c0;
}

.card4 {
    background-color: hsl(42.5, 66%, 85%);
}

.card5 {
    background-color: #f2c0c0;
}

.card6 {
    background-color: hsl(212.5, 66%, 85%);
}

button {
    background-color: darkslategray;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    color: azure;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 16px;
    transition-duration: 0.15s;
    cursor: pointer;
}

button:hover {
    background-color: dimgray;
}

button:active {
    background-color: gray;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    #title-text {
        font-size: 32pt;
    }

    #subtitle {
        font-size: small;
        margin-top: -10px;
        margin-bottom: 10px;
    }
}